* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: rgb(245, 246, 255);
}

h1.load {
  color: rgb(0, 5, 31);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loading_screen {
  height: 100vh;
  width: 100vw;
  background-image: url("image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
}
.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
}
h1 {
  background-color: transparent;
  margin: 20px;
  font-size: 50px;
  color: #bff3e3;
}
.game {
  margin: 20px;
  background-color: rgb(45, 47, 48);
  width: 500px;
  height: 200px;
  border: 1px solid black;
  border-radius: 4px;
}
#character {
  width: 20px;
  height: 50px;
  background-color: rgb(227, 236, 96);
  position: relative;
  top: 150px;
}
.animate {
  animation: jump 0.5s linear;
}
@keyframes jump {
  0% {
    top: 150px;
  }
  30% {
    top: 100px;
  }
  70% {
    top: 100px;
  }
  100% {
    top: 150px;
  }
}

.score-label {
  font-size: 26px;
  background-color: transparent;
  color: aqua;
}
.score {
  border: none;
  border-bottom: 2px solid black;
  height: 40px;
  width: 500px;
  margin: 20px;
  font-size: 30px;
  text-align: center;
}
#block {
  background-color: rgb(255, 115, 0);
  width: 20px;
  height: 20px;
  position: relative;
  top: 130px;
  left: 500px;
}
.block.active {
  animation: block 1.4s infinite linear;
}
@keyframes block {
  0% {
    left: 500px;
  }
  100% {
    left: -20px;
  }
}
p {
  text-align: center;
  width: 500px;
  font-size: 30px;
  height: 50px;
  background-color: transparent;
}

span {
  background-color: transparent;
}
.btn {
  height: 50px;
  width: 200px;
  font-size: 26px;
  border-radius: 5px;
  border: none;
  background-color: rgb(107, 163, 255);
}
.nav {
  background-color: transparent;
}
.btn:active {
  outline: none;

  transform: scale(0.95);
  border: none;
}
.btn:focus {
  outline: none;
}

h2 {
  background-color: transparent;
}
